header {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.font-lg {
    font-size: 1.5rem;
}
main {
    min-height: 75vh;
    font-family: 'AdorshoLipi', Arial, sans-serif !important;
}
.input-label {
    white-space: nowrap;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
}
@media only screen and (min-width:768px){
    .w-md-75 {
        width: 75% !important;
    }
}
@media only screen and (max-width:768px){
    html{
        font-size: 85%;
    }
}
@media only screen and (max-width:576px){
    html{
        font-size: 70%;
    }
}
